{% extends 'base.html' %}
{% load static %}

{% block  content %}
<link rel="stylesheet" type="text/css" href="{% static 'stores/style.css' %}">

<div class="container">
  <h1>Tiendas</h1>

  <div class="grid-stores">
  {% for store in stores %}
      <div class="grid-item">
        <div class="store-info">
          <p>{{ store.name }}</p>
          <p>{{ store.description }}</p>
        </div>

        <div class="store-buttons">
          <button onclick="location.href='{% url 'store-show' store.id %}'" type="button">Ver</button>
          <button onclick="location.href='{% url 'store-update' store.id %}'" type="button">Editar</button>
          <button onclick="location.href='{% url 'store-delete' store.id %}'" type="button">Eliminar</button>
        </div>
      </div>
  {% endfor %}
  </div>

  <button id="create-store" onclick="location.href='{% url 'store-create' %}'" type="button">Crear Tienda</button>
</div>

{% endblock content %}
