{% extends 'base.html' %}
{% load static %}

{% block  content %}
<link rel="stylesheet" type="text/css" href="{% static 'stores/style.css' %}">

<div class="container">

  <div class="store-details">
    <h1>{{ store.name }}</h1>
    <p> {{ store.description }}</p>
  </div>
  <h1>Puntos de Venta</h1>

  <div class="grid-stores">
  {% for obj in point_of_sales %}
      <div class="grid-item">
        <div class="store-info">
          <p>{{ obj.name }}</p>
          <p>{{ obj.description }}</p>
        </div>

        <div class="store-buttons">
          <button onclick="location.href='{% url 'point_of_sale-show' obj.id %}'" type="button">Ver</button>
          <button onclick="location.href='{% url 'point_of_sale-update' obj.id %}'" type="button">Editar</button>
          <button onclick="location.href='{% url 'point_of_sale-delete' obj.id %}'" type="button">Eliminar</button>
        </div>
      </div>
  {% endfor %}
  </div>

  <button id="create-store" onclick="location.href='{% url 'point_of_sale-create' %}'" type="button">Crear Punto de Venta</button>
</div>

{% endblock content %}