{% extends 'base.html' %}
{% load static %}

{% block  content %}
<link rel="stylesheet" type="text/css" href="{% static 'stores/style.css' %}">

<div class="container"> 
  <div class="store-details">
    <h1>{{ store.name }}</h1>
    <p> {{ store.description }}</p>
  </div>

  <div class="devices">
    <table id="devices-table">
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
      </tr>
      {% for device in devices %}
        <tr>
          <td>{{ device.name }}</td>
          <td>{{ device.description }}</td>
          <td>{{ device.price }}</td>
          <td><a href='{{ device.get_absolute_url }}'>Ver</a></td>
          <td><a href='{% url 'device-update' id=device.id %}'>Editar</a></td>
          <td><a href='{% url 'device-delete' id=device.id %}'>Eliminar</a></td>
        </tr>
      {% endfor %}
    </table>

    <a href='{% url 'device-create' %}'>Crear Dispositivo</a>
  </div>

  <div class="tablets">
    <table id="devices-table">
    <tr>
      <th>Nombre</th>
      <th>Online</th>
    </tr>
    {% for tablet in attendance_tablets %}
      <tr>
        <td>{{ tablet.name }}</td>
        <td>{{ tablet.online }}</td>
        <td><a href='{{ tablet.get_absolute_url }}'>Ver</a></td>
        <td><a href='{% url 'attendance_tablet-update' id=tablet.id %}'>Editar</a></td>
        <td><a href='{% url 'attendance_tablet-delete' id=tablet.id %}'>Eliminar</a></td>
      </tr>
    {% endfor %}
    </table>

    <a href='{% url 'attendance_tablet-create' %}'>Crear Tablet</a>
  </div>
  

  
  
</div>

{% endblock content %}