.devices {
  float: left;
  width: 48%;
  margin: 1%;
}

.tablets {
  float: right;
  width: 48%;
  margin: 1%;
}

#devices-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#devices-table td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#devices-table tr:nth-child(even){background-color: #f2f2f2;}

#devices-table tr:hover {background-color: #ddd;}

#devices-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}

.container {
  margin: 10px;
}

.grid-stores {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  background-color: grey;
  padding: 10px;
}
.grid-item {
  display: inline;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.store-info {
  float: left;
}

.store-buttons {
  float: right;
}

.store-buttons button {
  background-color: grey;
  border: 1px solid black;
  color: white;
  padding: 15px 40px;
  cursor: pointer;
  width: 100%; 
  display: block;
}

.store-buttonsbutton:not(:last-child) {
  border-bottom: none; 
}

.store-buttons button:hover {
  background-color: #333;
}

#create-store {
  background-color: grey;
  border: 1px solid black;
  color: white;
  padding: 15px 40px;
  cursor: pointer;
  width: 100%; 
  display: block;
}

#create-store:hover {
  background-color: #333;
}